<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%X{sourceThread}] %-5level %logger{38} - %msg%n</pattern>
    </encoder>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <!-- path to your log file, where you want to store logs -->
        <file>/var/log/corkjug/actors.log</file>
        <append>false</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%X{sourceThread}] %-5level %logger{38} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="ie.corkjug.actors" level="debug"/>
    <root level="OFF">
      <appender-ref ref="STDOUT" />
      <appender-ref ref="FILE" />
    </root>

</configuration>
